[mysqld]
datadir=/var/lib/mysql
tmpdir=/tmp
port=3306
symbolic-links=0
explicit_defaults_for_timestamp=TRUE
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
skip-character-set-client-handshake

max_connections=300

default_storage_engine=InnoDB
lower_case_table_names=1
innodb_flush_method=O_DIRECT
innodb_buffer_pool_dump_pct=25
innodb_numa_interleave=ON

server-id=1

log_bin=mysql-bin
binlog-format=ROW
expire_logs_days=14

# notice slow log on
slow_query_log=1
long_query_time=1.0
min_examined_row_limit=0
slow_query_log_file=/var/log/mysql/slow_query.log

log_timestamps=SYSTEM
pid-file=/var/run/mysqld/mysqld.pid

default_password_lifetime=0

# mem tuned for 1G
innodb_buffer_pool_size=128MB
innodb_log_buffer_size=4M
innodb_log_file_size=32M
sort_buffer_size=512K
read_rnd_buffer_size=256K
join_buffer_size=64K
read_buffer_size=256K
key_buffer_size=64M

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
